@import url('https://fonts.googleapis.com/css?family=Open+Sans|Shrikhand');

html, h2, h3, a, p {
	font-family: Open Sans, sans-serif;
}

h1{
	font-family: Shrikhand, sans-serif;
	font-size: 2.7em;
	line-height:100%;
	margin:0;
}

h2{
	font-size: 1.8em;
}

h3{
	font-size:1.2em;
	font-weight:800;
}

p{
	font-size:1.2em;
	margin:0;
}

#modalBox {
  position: absolute;
  margin: auto;
	width:100%;
	height:100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.modal{
	position:absolute;
	top:20%;
	bottom:0;
	left:0;
	right:0;
}

#root{
	position:absolute;
	z-index:4;
	background-color:rgba(0,0,0,0);
}