@import url('https://fonts.googleapis.com/css?family=Open+Sans|Shrikhand');

html, h2, h3, a, p {
	font-family: Open Sans, sans-serif;
}

h1{
	font-family: Shrikhand, sans-serif;
	font-size: 2.7em;
	line-height:100%;
	margin:0;
}

h2{
	font-size: 1.8em;
}

h3, h4, h5{
	font-size:1.2em;
	font-weight:800;
}

p{
	font-size:1.2em;
	margin:0;
}

nav, .navbar, .navbar-nav{
	background-color:white;
}

.search{
	margin-left:8px;
}