html, h1, h2, h3, a, p {
	font-family: Open Sans, sans-serif;
}

h1{
	font-family: Shrikhand, sans-serif;
	font-size: 2.7em;
	line-height:100%;
	margin:0;
}

h2{
	font-size: 1.8em;
}

h3{
	font-size:1.2em;
	font-weight:800;
}

p{
	font-size:1.2em;
	margin:0;
}

#bands{
	position:relative;
	width:100%;
	padding:1% 3%;
	transition: all 1s ease-out;
}

#map{
	position:relative;
	width:100%;
 	background-color: plum;
 	padding-top:10px;
	padding-bottom:15px;
	transition: all 1s ease-out;
}

#eats{
	position:relative;
	width:100%;
	padding:1% 3%;
	transition: all 1s ease-out;
}

.grid-item{
	position:relative;
	width:15%;
	margin:5px;
	float:left;
	background:none;
	transition: all 1s ease-out;
}

.toggle{
	position:relative;
}

.expand #bands{
	width:25%;
}

.expand #map{
	width:75%;
}

.expand #eats{

}