html, h1, h2, h3, a, p {
	font-family: Open Sans, sans-serif;
}

p{
	font-size:1.2em;
	margin:0;
}

.footer {
	position:relative;
	bottom:0;
	width:100%;
	height:60px;
	background-color:white;
	padding-top:10px;
	text-align:center;
}